@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');



html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background: -webkit-linear-gradient(#ffffff, #FFFEFE
    , #FFF9F9, #FCF3F3, #FFE2E2, #F7ADAD, #D54D4D, #A93226, #800000);
    /* background: -webkit-radial-gradient(red, black ,blue); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playfair Display';
}

/* h1 CSS */

h1 {
    margin: 0;
    padding: 0;
    text-align: center; /* Center-align the h1 element */
    font-size: 2.8em;
    transform: translateY(-100px); /* Initial vertical position above the viewport */
    opacity: 0; /* Start with 0 opacity */
    animation: slide-down 1s ease 1s forwards; /* Animation duration and delay */
}

@keyframes slide-down {
    from {
        transform: translateY(-100px); /* Initial position */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* Final position */
        opacity: 1; /* Fully visible */
    }
}

#h1_eng {
    font-family: 'Playfair Display', 'Cinzel Decorative';
    color: #D35400;
}

#h1_ara {
    font-family: 'Reem Kufi';
    color: #BA4A00;
}

.custom-card {
    transition: opacity 0.2s;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1.5s;
    opacity: 0;
    border: 0;
    height: 50vh;
    font-size: 2rem;
    border-radius: 0;
}
  
.custom-card:hover {
    transform: scale(1.1);
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  

  
  

/* footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #F2F3F4;
    padding: 10px 0;
    font-family: 'Quintessential';
}
