@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@font-face {
    font-family: 'Mustopha';
    src: url('mustopha-font/MustophaRegular-eZ3gm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background: -webkit-linear-gradient(#ffffff, #FFFEFE
    , #FFF9F9, #FCF3F3, #FFE2E2, #F7ADAD, #D54D4D, #A93226, #800000);
    /* background: -webkit-radial-gradient(red, black ,blue); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playfair Display';
}

/* h1 CSS */

h1 {
    margin: 0;
    padding: 0;
    text-align: center; /* Center-align the h1 element */
    font-size: 2.5em;
    transform: translateY(-100px); /* Initial vertical position above the viewport */
    opacity: 0; /* Start with 0 opacity */
    animation: slide-down 0.6s ease 0.6s forwards; /* Animation duration and delay */
}

@keyframes slide-down {
    from {
        transform: translateY(-100px); /* Initial position */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* Final position */
        opacity: 1; /* Fully visible */
    }
}

#h1_eng {
    font-family: 'Playfair Display', 'Cinzel Decorative';
    color: #D35400;
}

#h1_ara {
    font-family: 'Reem Kufi';
    color: #BA4A00;
}

#space{
    margin: 15vh 0;
}

.custom-div {
    transition: transform 0.3s ease;
    padding: 1.5vw;
    transform: translateY(-100px); /* Initial vertical position above the viewport */
    opacity: 0; /* Start with 0 opacity */
    animation: slide-down 0.8s ease 0.8s forwards;
}

.left-div {
    background-color: #000000;
    color: #ffffff;
}

.right-div {
    background-color: #F0B27A;
    color: #BA4A00;
}

.right-div:hover{
    text-decoration: underline;
}

.left-div:hover{
    text-decoration: underline;
}

.p {
    text-align: center;
    font-size: 3rem;
    padding: 20px;
}

#back-to-main, #back-to-main-likes{
    font-family: 'Quintessential', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-size: 1.5em;
}


h2{
    font-size: 3.5rem;
    font-weight: bold;
    color: #A04000;
    font-family: 'Mustopha';
}

.card-header{
    background-color: #ffe7d2;
}

.card-body{
    font-family: 'Quintessential';
    font-size: 2rem;
}

/* footer */

footer {
    width: 100%;
    color: #F2F3F4;
    padding: 10px 0;
    font-family: 'Quintessential';
}
